nav li{
    list-style: none;
    display: inline;
    margin-right: 20px;
}
nav li a{
    text-decoration: none;
}
nav li:hover{
    background-color: aquamarine;
}
header p{
    text-align: center;
}